@charset "utf-8";

/*
    File: style.class
    Description: Styles common themes among the HTT website.
    Autors: Nathan Cochran & Maxwell Williams
    Date: 2022-02-15
*/
html {
    height: 100%;
}
body {
    margin: 0px;
    width: 100%;
}

/* Styling Header */
header {
    margin: 0px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
header > * {
    display: inline-block;
}

.websiteTitle {
    font-size: 6em;
    margin: 0px 0px 10px 0px;
    padding-left: 2%;
}

nav {
    float: right;
    padding: 35px;
}
nav a button {
    width: 80px;
    padding: 0px;
    height: 50px;
    border: none;
    background-color: white;
    font-size: 0.9rem;
}
nav a button:hover {
    background-color: rgba(100, 100, 100, 0.2);
    cursor: pointer;
}
