@charset "utf-8";

/*
    File: style.class
    Description: Styles common themes among the HTT website.
    Autors: Nathan Cochran & Maxwell Williams
    Date: 2022-02-15
*/


/*********************************************
* Base CSS Styles
*********************************************/

/* Basic Styles */
html {
    height: 100%;
}
body {
    margin: 0px;
    width: 100%;
    min-height: 100%;
}

/* Styling Header */
header {
    margin: 0px 0px 50px 0px;
    padding: 10px;
    font-size: 5vw;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
header > * {
    display: inline-block;
}
nav {
    float: right;
    margin-top: 1.25vw;
    margin-right: 25px;
}
.websiteTitle {
    font-size: 8vw;
    margin: 0px 0px 10px 0px;
    padding-left: 2%;
    display: inline-block;
}

/* Desktop Navigation */
nav .desktop a button {
    width: 8vw;
    height: 50px;
    padding: 0px;
    margin: 0px;
    border: none;
    background-color:  white;
    transition: background-color 0.3s ease-in-out;
    font-size: 1.5vw;
}
nav .desktop a button:hover {
    background-color: rgba(100, 100, 100, 0.2);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

/* Mobile Navigation */
@keyframes slideLeft {
    0% {
        right: -30vw;
    }
    100% {
        right: 0px;
    }
}
.addMobile {
    animation: slideLeft 0.3s ease-in-out;
    animation-fill-mode: forwards;
    display: block !important;
}
.removeMobile {
   display: none !important;
}
.mobile .mobileLinks {
    display: block;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 30vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.mobile .mobileLinks .flexCol {
    display: flex;
    height: 70vh;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 15vh;
}
.mobile .mobileLinks a {
    display: block;
    text-decoration: none;
}
.mobile .mobileLinks a button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 25px;
    margin: 25px auto 25px auto;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.mobile .mobileLinks a button:hover {
    color: rgb(80, 80, 80);
    cursor: pointer;
}
.mobile .hamburger span {
    font-size: 8vw;
}

/* Styling Page Title */
.pageNameSection {
    display: flex;
    align-items: center;
}
.pageNameBorderLeft {
    border-top: 7px solid rgb(23, 94, 175);
    margin-left: 10px;

    flex-basis: 600px;
    flex-shrink: 2;
    flex-grow: 2;
}
.pageName {
    text-align: center;
    box-sizing: border-box;
    padding: 5px 50px 5px 47px;
    margin: 0px 5px 0px 5px;
    background-color: rgb(23, 94, 175);
}
.pageNameBorderRight {
    border-top: 7px solid rgb(23, 94, 175);
    margin-right: 10px;

    flex-basis: 50px;
    flex-shrink: 1;
    flex-grow: 0.5;
}
.pageSection {
    min-height: 200px;
    width: 100%;
}

/* Styling the Footer **/
footer {
    background-color: rgb(145, 167, 170);
    display: grid;
    margin: 0px;
    padding: 25px;
}
footer div {
    padding: 15px 15px 15px 25px;
}
footer div h6 {
    font-size: 18px;
    margin: 5px 5px 5px 0px;
}
footer div p {
    margin: 0px 0px 5px 0px;
}
footer div a {
    color: black;
}
.logoContainer {
    padding: 0px;
    height: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center; 
}
.logoContainer p {
    font-size: 3vw;
    margin: 0px 0px 0px 5px;
    color: #652e11;
    font-weight: bold;
    
}
.logoImage {
    width: 125px;
    height: 125px;
}
.copyrightCol {
    border-top: 2px solid black;
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 25px 0px 0px 0px;
}

/**********************************************
* Mobile Styles: 0 to 480px
***********************************************/

@media only screen and (max-width: 480px) {
    footer { grid-template-columns: 1fr; }
    .copyrightCol { grid-column: 1/span 1; }
    .desktop { display: none; }
    .mobile { display: block; }
    .mobile .mobileLinks { width: 100vw; }
    .logoContainer p { display: none; }
    .pageNameBorderLeft {flex-basis: 30%; flex-shrink: 1; flex-grow: 1; }
    .pageNameBorderRight {flex-basis: 30%; flex-shrink: 1; flex-grow: 1; }
    .pageName { font-size: 30px; flex-basis: 125px; padding: 5px 10px 5px 10px;}
}

/*********************************************
* Tablet Styles: 481px and greater
**********************************************/

@media only screen and (min-width: 481px) {
    footer { grid-template-columns: 1fr 1fr; }
    .copyrightCol { grid-column: 1/span 2; }
    .desktop { display: none; }
    .mobile { display: block; }
    .logoContainer p { display: none; }
    .pageNameBorderLeft {flex-basis: 30%; flex-shrink: 1; flex-grow: 1; }
    .pageNameBorderRight {flex-basis: 30%; flex-shrink: 1; flex-grow: 1; }
    .pageName { font-size: 25px; flex-basis: 150px; padding: 5px 10px 5px 10px;}
}

/*********************************************
* Desktop Styles: 769px and greater
**********************************************/
@media only screen and (min-width: 769px) {
    footer { grid-template-columns: 2fr 1fr 1fr 1fr; }
    .copyrightCol { grid-column: 1/span 4; }
    .desktop { display: block; }
    .mobile { display: none; }
    .logoContainer p { display: block; }
    .pageNameBorderLeft {flex-basis: 600px; flex-shrink: 2; flex-grow: 2;}
    .pageNameBorderRight { flex-basis: 50px; flex-shrink: 1; flex-grow: 0.5; }
    .pageName { font-size: calc(5px + 2vw); flex-basis: calc(10px + 20vw); padding: 5px 30px 5px 30px;}
}
