@charset "utf-8"

h3 {
  color: red !important;
  margin: 25px;
}

.imageList .boxcontainer {
  background-color: red;
  width: 100%;
}

.imageList .boxcontainer {
  display: flex;
  width: 100%;
  margin: 5px 0px 5px 0px;
}

.boxcontainer img {
    width: 300px;
    margin-right: 10px;
}
