@charset "utf-8";


/* ImageList: Latest Stories */
.imageList {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  padding: 25px 0px 25px 0px;
}
.imageList .boxcontainer {
  display: flex;
  width: 100%;
  margin: 5px 0px 5px 0px;
  box-shadow: rgb(134, 134, 134) 0px -5px 5px, rgb(134, 134, 134) 0px 5px 5px;
  background-color: rgb(255, 255, 255);
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.imageList .boxcontainer::-webkit-scrollbar {
  display: none;
}
.imageList .boxcontainer img {
  width: calc(225px + 10vw);
}
.imageList .boxcontainer .box {
  margin: 10px;
}
.imageList .listTitle {
  font-size: 35px;
  margin: 5px 5px 10px 25px;
}
.imageList .listSubtitle {
  font-size: 15px;
  font-style: italic;
  margin: -10px 5px 15px 25px;
}

.sectionContainer {
  width: 100%;
  padding: 25px;
  margin-top: 25px;
  box-shadow: 0px 1px 5px black;
  box-sizing: border-box;
}
.sectionTitle {
  font-size: 35px;
  margin: 5px 5px 10px 0px;
}