@charset "utf-8";

/*
    File: newspage.class
    Description: Styles the newspage.html page.
    Autors: Nathan Cochran & Maxwell Williams
    Date: 2022-04-01
*/


/*********************************************
* Base CSS Styles
*********************************************/
.newsArticle {
    width: 100%;
    background-color: rgb(124, 124, 124, 0.5);
    margin-top: 50px;
    margin-bottom: -40px;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
}
.fullArticleName {
    font-size: 30px;
    margin: 30px 50px;
    text-align: center;
}
.thumbnailImage {
    width: 98%;
    max-width: 1000px;
    height: auto;
    margin: 0px auto;

    box-shadow: 2px 5px 5px black, 2px -5px 5px black;
    border: 10px solid rgb(23, 94, 175, 0.5);
}
.articleBodyText {
    margin: 10px calc(15vw - 35px) 30px calc(15vw - 35px) ;
}